@page "/courses"


<PageTitle>Courses</PageTitle>

<h1>Library</h1>

<div>
    <div class="edit_row_container form-floating mb-2">
        <button type="submit" class="round_corners small_arrow">
            <img src="css/Images/angle-small-right.png" alt="buttonpng" class="angle_img right" />
        </button>
        <button type="submit" class="round_corners small_arrow"> 
            <img src="css/Images/angle-small-right.png" alt="buttonpng" class="angle_img left" />
        </button>
        <button type="submit" class="round_corners small_arrow">
            <img src="css/Images/angle-small-right.png" alt="buttonpng" class="angle_img up" />
        </button>
        <h2 class="congrats_h2">Courses/Software engineering/</h2>
    </div>

    <div class="edit_row_container">
        <div class="form-floating mb-2">
            <input type="text" name="filter" class="round_corners" placeholder="Search" />
        </div>
    </div>
</div>

<label class="gray_text">Subject name</label>
<div class="form-floating">
   <!-- @foreach (var topic in Model.TopicList)          CIA REIKTU SUDET SUBJECTS
    {
        <div>
            <input type="radio"
                   asp-for="Input.TopicToLearn"
                   value="@topic.Id"
                   id="@("learn" + topic.Title)" />
            <label class="label form-floating mb-2" for="@("learn" + topic.Title)"> @topic.Title </label>
        </div>
    }
    <span asp-validation-for="Input.TopicToLearn"></span>-->
</div>

@code {

}
