@page
@model RegisterModel
@{
    ViewData["Title"] = "Welcome to VUtor";
}

<h1 class="login_welcome_h1">@ViewData["Title"]</h1>

<div class="row">
    <div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="congrats_h2">Glad to have you with us!</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <label class="specifications">Enter name:</label>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="round_corners" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <label class="specifications">Enter surname:</label>
            <div class="form-floating mb-3">
                <input asp-for="Input.Surname" class="round_corners" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <label class="specifications">Enter email:</label>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="round_corners" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <img class="round_img" src="~/css/Images/user.jpg" alt="Default user image">
            <br />
            <button id="registerSubmit" type="submit" class="round_corners login">Create a profile</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
